body {
  background-color: #fbf8cc;
}
.floatingnav {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

li a {
   display: block;
   width: 100px;
   background-color: #98f5e1;
   color: black;

}
a:link { 
  text-decoration: none;
  
}
a:hover {
  background-color: #ffcfd2;
}
a:active{
    background-color: #f3c4fb;
}

img {
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 200px;
  max-width: 350px;
  border-radius: 50%;
  border-style: groove;
  border-color: black;
  border-width: 10px;

  }

  h4 {
    padding: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  p {
    padding-left: 4em;
    padding-right: 4em;
    line-height: 1.4;
    font-family: 'Supermercado One', cursive;
    }
